/*** Pages ***/

.page-body {
  margin-top: 64px;
  padding: 36px 0 48px 0;
  background: $white;
  min-height: 320px;
}

.blog-page, .contact-page {
  height: 100vh;
  padding-bottom: 96px;
  overflow: hidden;
}

.page-head-image {
  margin: 0 auto;
}

.page-title {
  text-decoration: underline;
  width: 70%;
  margin: 0 auto;
}

.page-text {
  width: 70%;
  margin: 24px auto 0 auto;
  font-family: 'Tex Gyre Adventor';
}

.bullets {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;;
  font-size: 18px;
  color: $black;
  text-decoration: underline;
}

.contact-option-wrapper {
  width: 100%;
  height: 48px;
  margin-top: 12px;
}

.contact-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 48px;
}

.contact-icon, .contact-text {
  float: left;
  line-height: 48px;
}

.contact-icon {
  margin-right: 12px;
  width: 32px;
  text-align: center;
}

.contact-text {
  font-family: 'Tex Gyre Adventor';
}

.footer-whitespace {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.blog-details-wrapper {
  width: 70%;
  min-height: 80px;
  padding: 4px;
  margin: 0 auto;
  border-bottom: 1px solid $black;
}

.blog-graphic-wrapper {
  width: 50%;
  max-width: 64px;
  float: left;
  margin-top: 8px;
}

.blog-description-wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 72px;
  vertical-align: middle;
  padding-top: 8px;
}

.blog-list {
  margin-left: 80px;
}

.blog-date {
  color: lighten($dark, 15%);
  font-size: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
}

.early-post {
  height: auto;
}

.early-footer {
  position: static;
}

.dont-pay-img {
  width: 60%;
  min-width: 184px;
}

.dont-pay-wrapper {
  width: 50%;
  max-width: 64px;
  float: left;
  margin-top: 16px;
}
