/*** About ***/

.page-body {
  margin-top: 64px;
  padding: 36px 0 48px 0;
  background: $white;
  min-height: 320px;
}

.blog-page, .contact-page, .about-page {
  height: 100vh;
  padding-bottom: 48px;
  overflow: hidden;
}

.page-title {
  text-decoration: underline;
  width: 70%;
  margin: 0 auto;
}

.page-text {
  width: 70%;
  margin: 24px auto 0 auto;
  font-family: 'Tex Gyre Adventor';
}

.bullets {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;;
  font-size: 18px;
  color: $black;
}

.contact-option-wrapper {
  width: 100%;
  height: 48px;
  margin-top: 12px;
}

.contact-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 48px;
}

.contact-icon, .contact-text {
  float: left;
  line-height: 48px;
}

.contact-icon {
  margin-right: 12px;
  width: 32px;
  text-align: center;
}

.contact-text {
  font-family: 'Tex Gyre Adventor';
}

.footer-whitespace {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
