/*** About ***/

.page-body {
  padding: 64px 0 20px 0;
  background: $white;
}

.blog-page {
  min-height: 50vh;
}

.page-title {
  text-decoration: underline;
  width: 70%;
  margin: 0 auto;
}

.page-text {
  width: 70%;
  margin: 24px auto 0 auto;
  font-family: 'Tex Gyre Adventor';
}

.bullets {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;;
  font-size: 18px;
  color: $black;
}

fieldset {
  border: none;
  max-width: 70%;
  margin: 24px auto;
}

input, textarea {
  border: none;
  background: lighten($anchor, 15%);
  margin-bottom: 8px;
  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: 0 0 12px none;
  }
}

.btn {
  margin-top: 16px;
}
