/*** Responsive ***/

@media screen and (min-width: 370px) {
  .built-by {
    width: 195px;
  }
}

@media screen and (min-width: 400px) {
  .page-body {
    min-height: 72vh;
  }
  .built-by, .logo-wrapper-bottom {
    float: right;
  }
}

@media screen and (min-width: 400px) and (max-width: 749px) {
  .describe-title {
    max-width: 80%;
  }
  .describe {
    max-width: 70%;
  }
}

@media screen and (min-width: 500px) {
  .masthead {
    border-bottom: none;
  }
  .line-wrapper {
    display: none;
  }
  .options-wrapper {
    width: 50vw;
    top: 0;
    right: 0;
    height: 64px;
    z-index: 3;
    background: $anchor;
    border-bottom: none;
  }
  .options {
    height: 64px;
    line-height: 54px;
    padding-top: 12px;
    width: 33%;
  }
  .intro {
    height: 85vh;
  }
  .headline {
    font-size: 2.5em;
    padding-top: 200px;
  }
  .subtitle {
    font-size: 18px;
  }
  .action {
    height: 42px;
    width: 160px;
    font-size: 20px;
  }
  .description {
    padding-top: 32px;
  }
  .describe-title {
    font-size: 20px;
    line-height: 24px;
  }
  .describe {
    margin-top: 15px;
    font-size: 16px;
  }
  .details-wrapper {
    height: 128px;
    width: 60%;
    max-width: 360px;
  }
  .creation {
    margin-top: 48px;
  }
  .graphic-wrapper {
    height: 52px;
    width: 56px;
    margin: 16px 8px;
  }
  .graphic {
    font-size: 3em;
    line-height: 52px;
  }
  .details-title {
    font-size: 15px;
    width: 240px;
  }
  .details {
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    width: 240px;
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  .options {
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
  .page-title, .page-text {
    width: 60%;
  }
  .contact-wrapper {
    width: 65%;
  }
}

@media screen and (min-width: 600px) {
  .options {
    font-size: 15px;
  }
  .headline {
    font-size: 3em;
    padding-top: 256px;
  }
  .subtitle {
    font-size: 20px;
  }
  .graphic-wrapper {
    margin: 16px 16px 16px 8px;
  }
  .details-title, .details {
    width: 262px;
  }
  .lower {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 700px) {
  .bottom {
    width: 40px;
    font-size: 1.5em;
  }
  .logo-bottom {
    height: 36px;
    margin: 6px 48px 6px 0;
  }
  .built-by {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) and (max-width: 749px) {
  .page-body {
    padding-top: 48px;
  }
  .page-title, .page-text {
    width: 50%;
  }
  .contact-wrapper {
    width: 55%;
  }
  .corner {
    margin-left: 36px;
  }
}

@media screen and (min-width: 750px) {
  .nav-wrapper {
    background: $anchor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .masthead-and-options {
    width: 100%;
    max-width: 1040px;
    height: 64px;
    margin: 0 auto;
  }
  .masthead {
    position: static;
    width: 50%;
    float: left;
  }
  .options-wrapper {
    position: static;
    width: 50%;
    float: left;
  }
  .page-body {
    margin-top: 0;
    padding-top: 112px;
  }
  .describe-title {
    max-width: 545px
  }
  .describe {
    max-width: 478px;
  }
  .contact-option-wrapper {
    margin-top: 48px;
  }
  .contact-wrapper {
    width: 70%;
    height: 64px;
  }
  .contact-icon {
    line-height: 64px;
  }
  .contact-text {
    font-size: 24px;
    line-height: 64px;
  }
  .corner {
    margin-left: 24px;
  }
  .footer-wrapper {
    background: $dark;
    width: 100%;
  }
  .social-and-sig {
    width: 100%;
    max-width: 1040px;
    height: 48px;
    margin: 0 auto;
  }
  .follow-bottom {
    position: static;
    width: 50%;
    float: left;
  }
  .logo-wrapper-bottom {
    position: static;
    width: 50%;
    float: left;
  }
}

@media screen and (min-width: 750px) {
  .page-title, .contact-wrapper {
    max-width: 960px;
  }
  .page-text {
    max-width: 960px;
    font-size: 1em;
  }
}

@media screen and (min-width: 750px) and (max-width: 999px) {
  .options {
    max-width: 112px;
  }
}

@media screen and (min-width: 1000px) {
  .options {
    max-width: 130px;
  }
}
